body{
    background-color: green;
    

} 

div{
    
    background-color: white;
       width: 20%;
    border: 1px solid black;
    height: 20%;  
  text-align: center;
  align-items: center;
  border-radius: 20px;
  margin-left: 40%; 
}

div div1{
    text-align: left;
    margin-right: 50%;
    color:black;
    font-size: 500%;
    
}



div div3{
    text-align: center;
    color:black;
    font-size: 500%;
    margin-left: 50%;
}

div div2{
    text-align: right;
    color: black;
    font-size: 500%;
    
}